.admin{
    background-image: url(../../../images/img-consultorio.png);
    background-size: cover;
    min-height: 80vh;
    padding-top: 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 600px) {
    .admin{
        height: 100vh;
        padding-top: 0;
        h1{
            padding: 0em;
            font-size: 2em;
        }
        button{
            margin-top: 0;
        }
    }
    .contenedor-footer{
        min-height: 15em;
    }
}
