.formulario{
    width: 300px;
    border-radius: 10px;
}

.contenedor-perfil{
    background-image: url(../../../images/img-consultorio.png);
    background-size: cover;
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonUpdate{
    margin-bottom: 2em;
    align-self: center;
}
.padreBtn{
    display: flex;
    flex-direction: column;
}

.background-card{
    background-color: rgba(174, 184, 181, 0.674) !important;
}

@media(max-width:600px){
    .contenedor-perfil{
        height: 100vh;
    }
}