.contenedor-citas{
    background-image: url(../../../images/img-consultorio.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: 2em;
}

.form-citas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.padreBtn{
    margin-top: 2em;
    background-color: rgba(174, 184, 181, 0.858);
    border-radius: 2em;
}

.contenedor-botones{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.page-and-buttons{
    padding: 5rem;
    height: 100vh;
}

